/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}
a{
    text-decoration: none;
}
body{
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/6241192-lente-flare-roxo-luz-efeito-especial-fundo-preto-gratis-foto.jpg);
}